/* 专家列表 */
.expert-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 10px;
}
.expert-item{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.expert-item:first-child::before,.expert-item::after{
  display: none;
}
.expert-item::before{
  left: 15px;
  right: 15px;
}
.expert-item__name {
  font-size: 36px;
  font-weight: 600;
  margin-right: 6px;
  color: rgba(24, 24, 26, 1);
}
.expert-item__position {
  font-size: 30px;
  font-weight: 400;
  color: rgba(24, 24, 26, 1);
  line-height: 42px;
}
.expert-item__bd {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom:1px solid #ddd;
}
.expert-item__introduce {
  font-weight: 400;
  line-height: 36px;
  color:rgba(24, 24, 26,0.7);
  margin-bottom: 40px;
}
.expert-item__label {
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom:20px;
}
.expert-item__label text {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5px;
  font-weight: 400;
  color: #18181A;
  height: 44rpx;
  line-height: 44rpx;
  padding: 0 6px;
  border-radius: 11px;
  border: 1rpx solid rgba(31, 44, 63, .1);
}
.expert-item__ft {
  display: inline-block;
  font-weight: 400;
  color: rgba(31, 44, 63, .4);
  margin-right: 20px;
  padding-bottom: 10px; 
  padding-top: 10px;
}
.expert-item__ft text {
  font-size: 14px;
  font-weight: bold;
  color: rgba(24, 24, 26, 1);
  line-height: 1.5;
}
.expert-list{
  min-height: 200px;
}
.expert-item__label .skeleton-rect{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 10px;
    font-weight: 400;
    color: #18181A;
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
    border-radius: 22px;
    border: 1px solid rgba(31, 44, 63, 0.1);
}
.ll-cell__bd{
  height:auto;
}