@import "../../styles/var.scss";

.KnowledgeOnlineCourse {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
  background: #ecedee;
  padding-top: 24px;
  .icon_audio{
    width:90px;
    height:32px;
    position:absolute;
    top:20px;
    z-index:99;
  }
}
