html{background: #F0F1F4;}
.yuyue-warn {
    position:absolute;
    top:50%;
    margin-top:-144px;
    left:50%;
    margin-left:-228px;
    background: #fff;
    width:456px;
    height:288px;
    text-align: center;
    .img {
        margin-top:48px;
        width: 64px;
        height: 64px;
    }
    .text--black {
        height: 50px;
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(22, 20, 19, 1);
        line-height: 50px;
        text-align: center;
        padding: 0 0 12px;
    }
    .onebyone {
        color: rgba(24,24,26,0.7);
        margin: 0 auto;
        font-size: 26px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
    }
}
