{
  "plugins": ["linklink"],
  "extends": ["taro"],
  "globals": {
    "WeixinJSBridge": "readonly"
  },
  "rules": {
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "react/sort-comp": [
      1,
      {
        "order": [
          "/^config$/",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ],
        "groups": {
          "lifecycle": [
            "displayName",
            "propTypes",
            "contextTypes",
            "childContextTypes",
            "mixins",
            "statics",
            "defaultProps",
            "constructor",
            "getDefaultProps",
            "state",
            "getInitialState",
            "getChildContext",
            "getDerivedStateFromProps",
            "componentWillMount",
            "UNSAFE_componentWillMount",
            "componentWillReact",
            "componentDidMount",
            "componentWillReceiveProps",
            "UNSAFE_componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "UNSAFE_componentWillUpdate",
            "getSnapshotBeforeUpdate",
            "componentDidUpdate",
            "componentDidCatch",
            "componentWillUnmount"
          ]
        }
      }
    ],
    "import/prefer-default-export":0,
    "react/jsx-pascal-case":0,
    "semi": ["error", "never"],
    "react/no-direct-mutation-state":0,
    "linklink/no-lowercase-label": [2, ["view","button","image"]]
  },
  "parser": "babel-eslint"
}
