@import "../../styles/var.scss";

/* pages/person/person.wxss */
.vip{
  /* background-color: #000; */
  box-sizing: border-box;
  height:100%;
  /* padding-bottom: 64px;*/
}

.navbar-box{
  background:#332f2e!important;
  text-align:center;
  color:#fff;
}


.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 128px;
  background: #fff;
  z-index:100000;
}

.content__hd{
  height: 418px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/pic_mask2@2x.png);
  background-repeat: no-repeat;
  background-size: 100% ;
  background-position: center bottom;
  background-color: #332f2e;
  overflow: hidden;
}
.btn-group{
  margin: 60px auto 0;
  width: 340px;
  height: 76px;
  box-sizing: border-box;
  line-height: 76px;
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 44px;
  position: relative;
}
.btn-group-border{
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border-radius: 44px;
  overflow: hidden;
}
.btn-group .btn{
  float: left;
  width: 50%;
  padding: 0;
  height: 76px;
  line-height: 76px;
  color: #ffffff;
  font-weight:500;
  text-align: center;
}
.btn-group .btn.btn-active{
  background:linear-gradient(316deg,rgba(224,187,110,1) 0%,rgba(237,221,183,1) 100%);
  color: #523e15;
}

.content__bd{
  background:rgba(242,236,223,1);
}
.introduce{
  position: relative;
  top: -134px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
  border-radius:32px;
}
.introduce__title{
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight:500;
}
.icon-crown{
  margin-right: 20px;
}
.introduce__small{
  padding: 28px 0 52x;
  text-align: center;
  font-size: 36px;
  color: #e99c27;
  font-weight:500;
}

.introduce__item{
  padding-left: 60px;
  font-size: 32px;
  font-weight:500;
  margin-bottom: 30px;
}
@media(max-width:640px){
  .introduce__item{
    padding-left: 32px;
  }
}
.introduce__icon{
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.price{
  font-weight: 500;
  margin-top: -12px;
}
.price text{
  font-size: 48px;
}
.bottom__tip{
  font-size: 24px;
}
.bottom__tip .link{
  display: inline;
  color: #E1A01B;
}
.btn-buy{
  width: 268px;
  height: 88px;
  line-height: 88px;
  font-size:36px;
  color: #523e15;
  text-align: center;
  padding: 0;
  background:linear-gradient(316deg,rgba(224,187,110,1) 0%,rgba(237,221,183,1) 100%);
  border-radius:56px;
  font-weight:500;
}
@media(max-width:640px){
  .btn-buy{
    width: 235px;
  }
}

.content-business{
  background-image: url('https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/pic_2@2x.png#');
  width: 100%;
  height: 2266px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #332f2e;
  overflow: hidden;
  margin-bottom: 100px;
}

.btn-primary--large{
  background:linear-gradient(316deg,rgba(224,187,110,1) 0%,rgba(237,221,183,1) 100%);
  color: #523e15;
}

.price-change{
  display:flex;
  position:relative;
}
.price-change-rights{
  margin-left:28px;
  position:relative;
  margin-top:10px;
}
.center-img{
  position:absolute;
  background:#D62419;
  width:110%;
  height:2px;
  left:-10%;
  top:20px;
}
.price-bold{
  font-size:52px;
}
.form-vip{
  background:rgba(242,236,223,1);
  margin-top:-80px;
  text-align:center;
  font-size: 42px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #18181A;
  line-height: 58px;
  padding-bottom:176px;
}
.form-vip .title{
  font-size: 42px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #18181A;
  line-height: 58px;
  margin-bottom:34px;
}
.form-vip input{
  margin: 0 auto 26px;
  width: 80%;
  height: 92px;
  background: #FFFFFF;
  border-radius: 20px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #18181A;
  line-height: 92px;
  padding-left:30px;
  text-align:left;

}
.wx{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index:1000;
}
.wx .wxImg{
  position: absolute;
  width: 600px;
  height: 650px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -324px;
  background: #fff;
  text-align:center;
  border-radius:40px;
}
.wx .wxImg .kefuImg{
  margin-top:50px;
  width:500px;
  height:500px;
}

.wx .wxImg .cancel{
  position: absolute;
  top: -100px;
  right: 0;
  width: 80px;
  height: 80px;
}

