/* icon图标 */
.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: -8px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.icon-search {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_search@2x.png);
}
.icon-search2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_search@3x.png);
}
.icon-sort {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_sort@2x.png);
}
.icon-sort-active {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_sort_active@2x.png);
}
.icon-ques {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_ques@2x.png);
}
.icon-ques2 {
  width: 24px;
  height: 24px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_ques2@2x.png);
}
.icon-answer {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_answer@2x.png);
}
.icon-play {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_play@2x.png);
}
.icon-share {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_share@2x.png);
}
.icon-kefu {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_kefu@2x.png);
}
.icon-close {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_close@2x.png);
}
.icon-right {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_gou1@2x.png);
}
.icon-arrow-down {
  /* 设定div大小 */
  width: 0;
  height: 0;
  /* 防溢出，稳固兼容性 */
  overflow: hidden;
  /* 箭头尺寸 */
  border-width: 4px;
  /* 给箭头着色，四个值分别是边框的四个方向，箭头的方向正好相反 */
  border-color: #18181a transparent transparent transparent;
  /* 为了兼容性，最好把四个值都补上，需要的方向设实线，其他方向虚线 */
  border-style: solid dashed dashed dashed;
  vertical-align: middle;
}
.icon-arrow-up {
  /* 设定div大小 */
  width: 0;
  height: 0;
  /* 防溢出，稳固兼容性 */
  overflow: hidden;
  /* 箭头尺寸 */
  border-width: 4px;
  /* 给箭头着色，四个值分别是边框的四个方向，箭头的方向正好相反 */
  border-color: transparent transparent #18181a transparent;
  /* 为了兼容性，最好把四个值都补上，需要的方向设实线，其他方向虚线 */
  border-style: dashed dashed solid dashed;
}
.icon-arrow-right {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_arrow_right@2x.png);
}
.icon-arrow-back-white {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_back_white@2x.png);
}
.icon-tick {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_gou%402x.png);
}
.icon-clear {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_clear%402x.png);
}
.icon-cam {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_cam%402x.png);
}
.icon-more {
  background-image: url("https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_more@2x.png");
}
.icon-vip-1 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_1@2x.png);
}
.icon-vip-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_2@2x.png);
}
.icon-vip-3 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_3@2x.png);
}
.icon-vip-4 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_4@2x.png);
}
.icon-vip-5 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_5@2x.png);
}
.icon-crown {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_crown@2x.png);
}
.icon-logo {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_logo@2x.png);
}
.icon-suc {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_suc@2x.png);
}
.icon-download {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_download@2x.png);
}
.icon-qa {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_qa@2x.png);
}
.icon-course {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_course@2x.png);
}
.icon-article {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_article@2x.png);
}
.icon-need {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_need@2x.png);
}
.icon-payment {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_paymenu@2x.png);
}
.icon-invoice {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_invoice@2x.png);
}
.icon-wallet {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_wallet@2x.png);
}
.icon-share-person {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_share@2x.png);
}
.icon-wise {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_v@2x.png);
}
.icon-expert-checkin {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_zhuanjiaruzhu@2x.png);
}
.icon-lianlianhao {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_lianlianhao@2x.png);
}
.icon-suggest {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_suggest@2x.png);
}
.icon-about {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_about@2x.png);
}
.icon-zan {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_dainzan1@2x.png);
}
.icon-com {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_com@2x.png);
}
.icon-qa1 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_qa1@2x.png);
}
.icon-delete {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_delete@2x.png);
}
.icon-voice {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_phone@2x.png);
}
.icon-topic {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_talk@2x.png);
}
.icon-video {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_video@2x.png);
}
.icon-interview {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_qiyefantan@2x.png);
}
.icon-comment {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_pinglun@2x.png);
}
.icon-zan2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_zan1@2x.png);
}
.icon-share2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_share2@2x.png);
}
.icon-off {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/radio_off@2x.png);
}
.icon-on {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/radio_on@2x.png);
}
.icon-redlogo {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_logo_@2x.png);
}
.icon-date {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_date@2x.png);
}
.icon-location {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_location@2x.png);
}
.icon-time {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_time@2x.png);
}
.icon-loaffer {
  background-image: url(https://oss.mylyh.com/miniapp/wx_img/share/icon_ll_logo.png);
}
.icon-neterror {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/pic_neterror@2x.png);
}
.icon-new {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_new@3x.png);
}
.icon-new2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_new1@2x.png);
}
.icon-online {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_online@3x.png);
}
.icon-below-line {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_offline@3x.png);
}
.icon-live {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_live@3x.png);
}
.icon-book {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_book@2x.png);
}
.icon-collection {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_collection@2x.png);
}
.icon-expert-authentication {
  width: 114px;
  height: 36px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/expert-authentication.png);
}
.icon-expert-wise {
  width: 114px;
  height: 36px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/expert-wise@3x.png);
}
.icon-activity {
  width: 144px;
  height: 40px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-activity.png);
}
.icon-expert-wise2 {
  width: 114px;
  height: 36px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/expert-wise@3x.png);
}
.icon-recallnone {
  width: 144px;
  height: 144px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_recallnone@2x.png);
}
.icon-wechat {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_wechat@2x.png);
}
.icon-article-comment {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_comment@2x.png);
}
.icon-collection-unselect {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_collection_nor@2x.png);
}
.icon-collection-selected {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_collection_pred@2x.png);
}
.icon-collection-zan {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_a_zan_2@2x.png);
}
.icon-collection-nozan {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_a_zan_1@2x.png);
}
.icon-try-play {
  width: 129px;
  height: 80px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/try_play.png);
}
.icon-play-lists {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_play_s@3x.png);
}
.icon-playing {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/musicPlaying-red.gif);
}
.icon-waiting {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_waiting@3x.png);
}
.icon_warming {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_warming@3x.png);
}
.icon-completed {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_completed@3x.png);
}
.icon-order_o {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_order_o@3x.png);
}
.icon-order_i {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_order_i@3x.png);
}
.icon-kong {
  width: 87px;
  height: 87px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/pic_kong@2x.png);
}

.icon-bottom-1a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_1a.png);
}
.icon-bottom-1b {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_1b.png);
}
.icon-bottom-2a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_2a.png);
}
.icon-bottom-2b {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_2b.png);
}
.icon-bottom-3a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_3a.png);
}
.icon-bottom-3b {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_3b.png);
}
.icon-bottom-4a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_4a.png);
}
.icon-bottom-4b {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_4b.png);
}
.icon-bottom-5a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_5a.png);
}
.icon-bottom-5b {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_bottom_5b.png);
}
.icon-bottom-6a {
  width: 50px;
  height: 50px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_member.png);
}
.icon-bottom-6b {
  width: 60px;
  height: 60px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_member_p.png);
}

.icon-course-h5 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_course_h5@2x.png);
}
.icon-agreement-h5 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_agreement.png);
}
.icon-order-h5 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_paymenu@2x.png);
}
.icon-share-h5 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_share_h5@2x.png);
}
.icon-fulfilled {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/pic_finished@2x.png);
}
.icon-club-logo {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/club-logo.png);
}
.icon-store {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-store.png);
}
.icon-money {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-money.png);
}
.icon-live2 {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-live.png);
}
.icon-act {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-act.png);
}
.icon-business {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-business.png);
}
.icon-links {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-links.png);
}
.icon-hat {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-hat.png);
}
.icon-ts {
  width: 64px;
  height: 64px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon-ts.png);
}
.icon-club-logo2 {
  width: 284px;
  height: 68px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/my_bg_club.png);
}
.icon-club-arrow {
  width: 40px;
  height: 40px;
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/my_icon_arrow.png);
}
.icon-more-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_more%402x.png);
}
.icon-leader {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_experts%402x.png);
}
.icon-online-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_study_online%402x.png);
}
.icon-offline-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_offline%402x.png);
}
.icon-live-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_study_online@2x.png);
}
.icon-live-3 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_live_w%402x.png);
}
.icon-serv-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_qiye%402x.png);
}
.icon-coupon-2 {
  background-image: url(http://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_qiye%403x.png);
}
.icon-paly-2 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_play_b%402x.png);
}
.icon-more-3 {
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_more_4.png);
}
/**文章**/
.icon-comment-article{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/article/icon_comment@2x.png);
}

.icon-collect-article{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/article/icon_collection_nor@2x.png);
}
.icon-collect2-article{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/article/icon_collection_pred@2x.png);
}
.icon-zan-article{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/article/icon_zan@2x1.png);
}
.icon-zan2-article{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/article/icon_zan@2x.png);
}
.icon-online-classify{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_live@2x.png);
}
.icon-expert-recommend{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_qiye@2x.png);
}
.icon-play-s{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon_play_s@2x.png);
}
.icon-play-b{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon_play_b@2x.png);
}
.icon-play-bb{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon_play_bb@2x.png);
}
.icon-more-4{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_more5@2x.png);
}
.icon-see{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/icon_see@2x.png);
}
.icon-phone{
   background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_phone1@2x.png);
 }
.icon-wechat{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_wechat@2x.png);
}
.icon-index1{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_index1@2x.png);
}
.icon-share1{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_share1@2x.png);
}
.icon-kefu1{
  background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/icon_kefu1@2x.png);
}