/* Typography
-------------------------- */

/// fontSize|1|Font Size|0
$__font-size-xl-large: 48px !default;
/// fontSize|1|Font Size|0
$__font-size-extra-large: 40px !default;
/// fontSize|1|Font Size|0
$__font-size-large: 36px !default;
/// fontSize|1|Font Size|0
$__font-size-medium: 32px !default;
/// fontSize|1|Font Size|0
$__font-size-base-bigger: 30px !default;
/// fontSize|1|Font Size|0
$__font-size-base: 28px !default;
/// fontSize|1|Font Size|0
$__font-size-small: 26px !default;
/// fontSize|1|Font Size|0
$__font-size-extra-small: 24px !default;
/// fontSize|1|Font Size|0
$__font-size-smallest: 20px !default;

/* Color
-------------------------- */
/// color|1|Brand Color|0
$__color-primary: #d62419 !default;
/// color|1|Background Color|4
$__color-white: #ffffff !default;
/// color|1|Background Color|4
$__color-black: #000000 !default;
/// color|1|Functional Color|1
$__color-success: #67c23a !default;
/// color|1|Functional Color|1
$__color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$__color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$__color-info: #909399 !default;

/// color|1|Font Color|2
$__color-text-primary: #18181a !default;
/// color|1|Font Color|2
$__color-text-regular: rgba(24, 24, 26, 0.7) !default;
/// color|1|Font Color|2
$__color-text-secondary: rgba(24, 24, 26, 0.4) !default;
/// color|1|Font Color|2
$__color-text-placeholder: #c0c4cc !default;
