@import "../../styles/var.scss";

.ClubInviting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  background: #f1f1f3;

  .navigator-hover {
    background: #f5f5f5 !important;
  }

  .header {
    width: 100%;
    height: 779px;
    background-image: url(http://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/icon/191226/club_header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
  }

  .header-info {
    background: none;
    & > .ll-cell {
      padding: 50px 18px 0px 54px;
    }
  }
  .header-info__avatar {
    width: 112px;
    height: 112px;
    margin-right: 20px;
  }
  .header-info__title {
    padding-top: 14px;
    font-size: $__font-size-medium;
    color: #ffffff;
  }
  .header-info__title--sm {
    font-size: $__font-size-extra-small;
    color: rgba(255, 255, 255, 0.4);
  }
  .header-info__ft {
    padding-top: 14px;
    font-size: $__font-size-base;
    color: #ffffff;
    &::after {
      margin-top: 0;
      border-color: #fff;
      right: 6px;
    }
  }

  // 非会员
  .unVip {
    height: 940px;
  }
  .logo {
    padding-top: 106px;
    padding-left: 54px;
  }
  .logo__img {
    width: 358px;
    height: 96px;
  }
  .logo__text {
    font-size: $__font-size-extra-small;
    color: rgba(255, 255, 255, 0.7);
  }

  .sign-info {
    background: none;
    .ll-cell {
      padding: 60px 24px 60px 54px;
    }
  }
  .sign-info__bd {
    width: 368px;
    height: 48px;
    display: flex;
    line-height: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.3);
    background: rgb(119, 107, 108);
  }
  .sign-info__avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin-right: 8px;
  }
  .sign-info__text {
    flex: 1;
    height: 100%;
    font-size: $__font-size-extra-small;
    color: #ffffff;
    border-radius: 0 24px 24px 0;
    overflow: hidden;
    z-index: 23;
  }
  .textInfo {
    animation: anis 10s linear infinite;
    .taro-text {
      display: block;
    }
  }

  @keyframes anis {
    0% {
      transform: translateY(0px);
      z-index: 22;
      background-color: rgb(119, 107, 108);
    }
    50% {
      transform: translateY(-72px);
      z-index: 22;
      background-color: rgb(119, 107, 108);
    }
    100% {
      transform: translateY(-144px);
      z-index: 22;
      background-color: rgb(119, 107, 108);
    }
  }

  .join {
    position: fixed;
    left: 0;
    bottom: 100px;
    display: flex;
    width: 100%;
    height: 120px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .join__left {
    display: block;
    width: 260px;
    line-height: 120px;
    padding: 0;
    font-size: $__font-size-base;
    color: $__color-text-primary;
    background: #fff;
    text-align: center;
  }
  .join__right {
    font-size: $__font-size-base;
    color: #fff;
    background: linear-gradient(133deg, rgba(243, 85, 55, 1) 0%, rgba(214, 36, 25, 1) 100%);
  }
  .btn-now__text {
    font-size: $__font-size-smallest;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: line-through;
    line-height: 0;
  }
  // 非会员

  .profit {
    background: none;
    & > .ll-cell {
      padding: 30px 24px 40px;
      text-align: center;
      color: #ffffff;
    }
  }
  .profit-title--sm {
    font-size: $__font-size-extra-small;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2;
  }
  .profit-title {
    font-size: $__font-size-medium;
    font-weight: bold;
  }

  .card {
    margin-left: 24px;
    height: 440px;
    overflow: hidden;
    background: linear-gradient(
      138deg,
      rgba(255, 246, 221, 1) 0%,
      rgba(237, 212, 172, 1) 51%,
      rgba(255, 238, 211, 1) 66%,
      rgba(220, 181, 125, 1) 100%
    );
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.09);
    border-radius: 32px 0px 0px 32px;
  }
  .card__hd {
    background: rgba(255, 255, 255, 0.3);
  }
  .card-title {
    font-size: $__font-size-large;
    color: $__color-text-primary;
    font-weight: 600;
  }
  .card--in-access {
    color: $__color-primary;
    font-size: $__font-size-extra-small;
    &::after {
      border-color: $__color-primary;
    }
  }
  .card__bd {
    padding: 0 10px;
    position: relative;
    overflow: hidden;
  }
  .card-item {
    position: relative;
    float: left;
    width: 25%;
    padding: 20px 0 30px;
    box-sizing: border-box;
    text-align: center;
  }
  .card-item__tip {
    position: absolute;
    top: 20px;
    left: 50%;
    color: #ffffff;
    font-size: $__font-size-smallest;
    width: 68px;
    height: 32px;
    background: rgba(214, 36, 25, 1);
    border-radius: 17px 17px 17px 0px;
  }
  .card-item__img {
    display: block;
    margin: 0 auto 4px;
    width: 80px;
    height: 80px;
  }
  .card-item__text {
    font-size: $__font-size-smallest;
    color: $__color-text-primary;
    white-space: nowrap;
  }

  .title {
    padding: 60px 0 16px 24px;
    font-size: $__font-size-large;
    color: $__color-text-primary;
    font-weight: 600;
  }
  .section {
    margin-left: 24px;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px 0px 0px 16px;
    + .section {
      margin-top: 20px;
    }
  }
  .section__hd {
    padding: 30px 18px 20px 30px;
  }
  .section-title {
    font-size: $__font-size-large;
    color: $__color-text-primary;
    font-weight: 600;
  }
  .section-title--sm {
    white-space: nowrap;
    font-size: $__font-size-extra-small;
    color: $__color-text-secondary;
  }
  .section--in-access {
    color: $__color-primary;
    font-size: $__font-size-extra-small;
    &::after {
      border-color: $__color-primary;
    }
  }

  .course,
  .course-item {
    display: flex;
  }

  .course-item__img {
    display: block;
    width: 192px;
    height: 256px;
  }
  .course-item__bd {
    display: flex;
    flex-direction: column;
    width: 358px;
    padding: 0 20px;
  }
  .course-item__title {
    font-size: $__font-size-medium;
    color: $__color-text-primary;
    font-weight: 600;
  }
  .course-item__title--sm {
    font-size: $__font-size-extra-small;
    color: $__color-text-regular;
  }
  .course-item__block {
    flex: 1;
  }
  .course-item__subhead {
    flex: 1;
    padding-top: 24px;
    font-size: $__font-size-extra-small;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: $__color-text-regular;
    line-height: 34px;
  }
  .course-item__tip {
    font-size: $__font-size-small;
    color: rgba(209, 149, 102, 1);
  }

  .section-box,
  .section-item {
    display: flex;
  }

  .section-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .section-item__img {
    display: block;
  }
  .section-item__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .section-item__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    box-sizing: border-box;
    padding: 0 24px;
    text-align: center;
    font-size: $__font-size-base;
    color: #ffffff;
  }

  /* 达人声音 */
  .case {
    margin-top: 20px;
    padding-bottom: 210px;
  }
  .case__hd {
    padding: 10px 24px;
    font-size: $__font-size-large;
    color: $__color-text-primary;
    font-weight: 600;
  }
  .case-item {
    padding: 0 24px;
    padding-bottom: 38px;
  }
  .case-item__img {
    width: 160px;
    height: 216px;
    margin-right: 20px;
  }
  .ll-cell__hd {
    line-height: 2;
    vertical-align: middle;
  }
  .case-item__title {
    display: inline-block;
    font-size: $__font-size-medium;
    color: $__color-text-primary;
    font-weight: 600;
    margin-right: 8px;
    line-height: 2;
  }
  .case-item__title--sm {
    display: inline-block;
    font-size: $__font-size-extra-small;
    color: rgba(209, 149, 102, 1);
    font-weight: 600;
  }
  .case-item__text {
    font-size: $__font-size-small;
    color: $__color-text-primary;
  }

  .bottom {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 120px;
    background: #ffffff;
    box-shadow: 0px -2px 22px 2px #ccc;
  }
  .invite-info {
    padding-left: 25px;
    font-size: $__font-size-extra-small;
    color: $__color-text-regular;
  }
  .copy {
    display: inline-block;
    padding: 0 10px;
    color: $__color-primary;
  }
  .btn-invite {
    display: inline-block;
    width: auto;
    padding: 0 60px;
    font-size: $__font-size-base-bigger;
    line-height: 2.6;
    color: #ffffff;
    background: linear-gradient(133deg, rgba(243, 85, 55, 1) 0%, rgba(214, 36, 25, 1) 100%);
    border-radius: 40px;
  }

  .model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 500px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 999;
  }
  .model__img {
    position: absolute;
    width: 672px;
    height: 470px;
    top: 20px;
    right: 30px;
  }
  .model__text {
    font-size: $__font-size-medium;
    line-height: 2;
    color: #ffffff;
  }
  .model__btn {
    margin: 60px auto;
    display: inline-block;
    line-height: 2.5;
    padding: 0 112px;
    font-size: $__font-size-medium;
    color: $__color-text-primary;
    background: #fff;
    border-radius: 40px;
  }
}

// @import "../../styles/var.scss";

// .Club {
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
//   padding-bottom: 100px;
//   overflow-y: auto;
//   position: relative;
//   background: #fff;
//   .header {
//     width: 100%;
//     height: 750px;
//     background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/pic_ed@2x.png);
//     background-repeat: no-repeat;
//     background-size: contain;
//     overflow: auto;
//   }
//   .icon-club-logo {
//     display: block;
//     width: 277px;
//     height: 201px;
//     margin: 66px auto;
//   }

//   .card {
//     width: 748px;
//     height: 410px;
//     box-sizing: border-box;
//     padding-left: 74px;
//     display: block;
//     margin: 0 auto;
//     background-image: url(https://lyhoss.oss-cn-qingdao.aliyuncs.com/miniapp/wx_img/pic_bg_card.png);
//     background-repeat: no-repeat;
//     background-size: contain;
//     color: #ffffff;
//   }
//   .avatar {
//     width: 160px;
//     height: 160px;
//     box-sizing: border-box;
//     border: 4px solid #fff;
//     margin-top: -66px;
//   }
//   .username {
//     font-size: $__font-size-large;
//     font-weight: 600;
//   }
//   .username-label {
//     font-size: $__font-size-extra-small;
//     opacity: 0.3;
//     margin-bottom: 40px;
//   }
//   .card-item {
//     float: left;
//     width: 294px;
//     font-size: $__font-size-extra-small;
//   }
//   .card-item__hd {
//     opacity: 0.7;
//   }
//   .card-item__bd {
//     .strong {
//       display: inline;
//       font-size: $__font-size-base-bigger;
//       padding-right: 4px;
//     }
//   }

//   .content {
//     padding: 20px 56px;
//   }
//   .content__hd {
//     .ll-cell__hd {
//       width: 8px;
//       height: 35px;
//       background: rgba(200, 171, 111, 1);
//       margin-right: 16px;
//     }
//     .ll-cell__bd {
//       font-size: $__font-size-large;
//       font-weight: 600;
//       color: $__color-text-primary;
//     }
//   }
//   .content__bd {
//     .ll-cell {
//       padding-left: 18px;
//     }
//     .icon {
//       margin-right: 19px;
//     }
//     .content-title {
//       font-size: $__font-size-base-bigger;
//       color: $__color-text-primary;
//       font-weight: 600;
//       padding: 10px 0 10px;
//     }
//     .content-info {
//       font-size: $__font-size-extra-small;
//       color: $__color-text-secondary;
//       line-height: 1.8;
//     }
//     .content-label {
//       display: inline-block;
//       font-size: $__font-size-extra-small;
//       font-weight: normal;
//       line-height: 1.5;
//       margin-left: 16px;
//       padding: 0 12px;
//       border: 1px solid $__color-primary;
//       border-radius: 18px;
//       color: $__color-primary;
//       vertical-align: middle;
//     }
//   }

//   .bottom {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 120px;
//     background: #ffffff;
//   }
//   .invite-info {
//     padding-left: 25px;
//     font-size: $__font-size-extra-small;
//     color: $__color-text-regular;
//   }
//   .copy {
//     display: inline-block;
//     padding: 0 10px;
//     color: $__color-primary;
//   }
//   .btn-invite {
//     display: inline-block;
//     width: auto;
//     padding: 0 60px;
//     font-size: $__font-size-base-bigger;
//     line-height: 2.6;
//     color: #ffffff;
//     background: $__color-text-primary;
//     border-radius: 40px;
//   }

//   .model {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     box-sizing: border-box;
//     padding-top: 500px;
//     background: rgba(0, 0, 0, 0.7);
//     text-align: center;
//     z-index: 999;
//   }
//   .model__img {
//     position: absolute;
//     width: 672px;
//     height: 470px;
//     top: 20px;
//     right: 30px;
//   }
//   .model__text {
//     font-size: $__font-size-medium;
//     line-height: 2;
//     color: #ffffff;
//   }
//   .model__btn {
//     margin: 60px auto;
//     display: inline-block;
//     line-height: 2.5;
//     padding: 0 112px;
//     font-size: $__font-size-medium;
//     color: $__color-text-primary;
//     background: #fff;
//     border-radius: 40px;
//   }
// }
