@import "../../styles/var.scss";

.videoVip-index {
    // background-color: rgba(248, 248, 249);
    //background: linear-gradient(180deg, rgba(254, 254, 254) 0%, rgba(240, 241, 244) 100%);
    background: #F0F1F4;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 100%;
    flex-direction: column;
    .content--box__box {
        flex: 1;
        overflow-y: scroll;
        position: relative;
        .header_bg{
            background: linear-gradient(180deg, #2E2E2E 0%, #18181A 100%);
            width: 100%;
            position: absolute;
            height: 274px;
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
        }
    }
    .n-display{
        display:none;
    }
    .header-background{
        //background: linear-gradient(180deg, #2E2E2E 0%, #18181A 100%);
        padding:40px 24px;
        .header {
            position: relative;
            .header__background {
                height: unset;
                width:100%;
            }
            .header--box {
                position: absolute;
                left: 0;
                top: 40px;
                width: 100%;
                height: 100px;
                padding: 0 41px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
            }
            .header__head {
                width: 96px;
                height: 96px;
                border: 2px solid rgba(255, 255, 255, 1);
                border-radius: 50%;
            }
            .header__info {
                padding-left: 20px;
                flex: 1;
                display: flex;
                flex-direction: column;
                .info__name {
                    font-size: 40px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: rgba(82, 49, 15, 1);
                    line-height: 56px;
                    display: flex;
                    align-items: center;
                }
                .info__name--text {
                    max-width: 180px;
                }
                .label__img {
                    width: 116px;
                    height: 32px;
                }
                .info__time {
                    padding-top: 6px;
                    font-size: 24px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(82, 49, 15, 1);
                    line-height: 34px;
                }
            }
            .header__btn {
                width: 160px;
                height: 66px;
                border-radius: 32px;
                border: 2px solid rgba(82, 49, 15, 1);
                font-size: 30px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FEE8C8;
                line-height: 66px;
                text-align: center;
                background: #18181A;
            }
            .header--bottom {
                position: absolute;
                left: 0;
                bottom: 40px;
                width: 100%;
                height: 100px;
                padding: 0 41px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                .vip-right-count{
                    text-align:center;
                    width:140px;
                    .vip-title{
                        font-size: 26px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: rgba(31,22,22,0.7);
                        line-height: 36px;
                    }
                    .vip-num{
                        font-size: 30px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #1F1616;
                        line-height: 42px;
                    }
                }
                .unvip-right-count{
                    width:200px;
                }
            }
        }
    }
    .share {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: 1000;
        .share__text {
            position: absolute;
            top: 148px;
            right: 140px;
            color: #fff;
            font-size: 40px;
        }
        .share__img {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 100px;
            height: unset;
        }
    }
    .media-padding-top{
        padding-bottom:24px;
    }
    .sixPrivilege {
        margin:20px 24px;
        //background: #FFFFFF;
        //box-shadow: 1px 1px 0px 0px #FFFFFF;
        border-radius: 24px;
        padding-top: 28px;
        padding-bottom: 40px;
        .opacity-half{
            opacity:0.5;
        }
        .gray {
            opacity: 0.4;
        }
        .item .gray-vip-text{
            opacity: 0.5;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            line-height: 30px;
            color:#161413;
        }
        .taro-img__mode-scaletofill{
            height:auto;
        }
    }
    .sixPrivilegeTitle{
        margin-left:24px;
        display:block;
        height: 56px;
        font-size: 40px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #030303;
        line-height: 56px;
    }
    .sixPrivilegeDesc{
        margin-left:24px;
        display:block;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #8D8E9A;
        height:40px;
        line-height: 40px;
    }
    .banner1 {
        margin-bottom: 60px;
        .card--empty {
            background: rgba(107, 102, 98, 1);
            color: rgba(22, 21, 20, 1);
        }
        .banner1__left{
            margin:48px auto 12px;
            .subhead__docs{
                text-align:center;
                color:rgba(255,255,255,0.7);
                width: 228px;
                height: 36px;
                line-height:36px;
                background-color:rgba(94, 8, 21, 0.16);
                border-radius: 18px;
                font-size:24px;
            }
        }
    }
    .vipFreeSection {
        padding-top: 24px;
    }
    .courseFreeselected {
        width: 702px;
        height: 192px;
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-left: 22px;
        padding-right: 40px;
        box-sizing: border-box;
        margin-bottom: 60px;
        .item__left {
            flex: 1;
            .left__main {
                width: 294px;
                height: 56px;
                font-size: 40px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: rgba(27, 28, 53, 1);
                line-height: 56px;
            }
            .left__subhead {
                width: 98px;
                height: 34px;
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(94, 94, 103, 1);
                line-height: 34px;
            }
        }
        .item__img {
            width: 90px;
            height: 120px;
            border-radius: 8px;
            border: 1px solid rgba(196, 196, 205, 1);
            margin-left: 20px;
            > img {
                border-radius: 8px;
            }
        }
    }
    .courseFreeLearn {
        height: 640px;
        margin-bottom: 60px;
        background-size: cover;
        .courseFreeLearn__header {
            position: relative;
            padding: 40px 0;
        }
        .moveSite {
            position: absolute;
            top: 68px;
            right: 24px;
        }
        .title_xzv {
            .title__main {
                color: #ffffff;
            }
            .title__subhead {
                color: rgba(255, 255, 255, 0.7);
            }
        }
        .swiper-container {
            height: unset;
        }
        .swiper-wrapper {
            padding-left: 24px;
            height: 400px;
            .swiper-slide {
                transition: all 0.3s;
                position: relative;
                height: unset;
                width: 150px;
                height: 200px;
                border-radius: 8px;
            }
            .swiper__img {
                width: 150px;
                height: 200px;
                border-radius: 8px;
            }
            .swiper__img--more {
                width: 150px;
                height: 200px;
                background: rgba(255, 255, 255, 1);
                border-radius: 8px;

                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(232, 46, 35, 1);
                line-height: 44px;
            }
            .swiper__docs {
                position: absolute;
                right: -416px;
                top: 220px;
                display: none;
                .docs__name {
                    width: 380px;
                    height: 84px;
                    font-size: 30px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                    line-height: 42px;
                }
                .docs__label {
                    width: 270px;
                    height: 34px;
                    padding-top: 20px;
                    font-size: 24px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.7);
                    line-height: 34px;
                }
            }
            .swiper-slide-active {
                width: 302px !important;
                height: 400px !important;
                margin-right: 26px;
                .swiper-slide {
                    width: unset;
                    height: unset;
                }
                .swiper__docs {
                    display: block;
                }
                .swiper__img {
                    width: 302px;
                    height: 400px;
                }
            }
        }
        .swiper-container--my {
            padding-left: 24px;
            height: 400px;
            .swiper-slide {
                transition: all 0.3s;
                position: relative;
            }
            .swiper__img {
                width: 150px;
                height: 200px;
                border-radius: 8px;
            }
            .swiper__img--more {
                width: 150px;
                height: 200px;
                background: rgba(255, 255, 255, 1);
                border-radius: 8px;

                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(232, 46, 35, 1);
                line-height: 44px;
            }
            .swiper__docs {
                position: absolute;
                right: -416px;
                top: 220px;
                display: none;
                .docs__name {
                    width: 380px;
                    height: 84px;
                    font-size: 30px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                    line-height: 42px;
                }
                .docs__label {
                    width: 270px;
                    height: 34px;
                    padding-top: 20px;
                    font-size: 24px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.7);
                    line-height: 34px;
                }
            }
            .swiper-slide-active {
                width: 302px !important;
                height: 400px !important;
                margin-right: 26px;
                .swiper__docs {
                    display: block;
                }
                .swiper__img {
                    width: 302px;
                    height: 400px;
                }
            }
        }
    }
    .coupon--small--box {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 38px;
        padding-left: 22px;
        padding-bottom: 58px;
        .coupon--small {
            display: flex;
            width: 248px;
            min-width: 248px;
            height: 164px;
            margin-right: 38px;
            padding: 40px 30px 36px;
            box-sizing: border-box;
            justify-content: space-between;
            background-size: 100%;
            .coupon__left {
                display: flex;
                flex-direction: column;
                align-items: center;
                .money {
                    font-size: 48px;
                    font-family: DINCondensed-Bold, DINCondensed;
                    font-weight: bold;
                    color: rgba(82, 49, 15, 1);
                    line-height: 46px;
                }
                .limit {
                    padding-top: 8px;
                    font-size: 24px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(166, 118, 68, 1);
                    line-height: 34px;
                    background-image: url();
                }
            }
            .coupon__right {
                width: 26px;
                display: flex;
                align-items: center;
                font-size: 30px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(82, 49, 15, 1);
                line-height: 42px;
            }
            .coupon__right--took {
                color: #8d8e9a;
            }
        }
        .coupon--small__btn-more {
            width: 160px;
            min-width: 160px;
            height: 160px;
            background: rgba(255, 255, 255, 1);
            border-radius: 12px;
            margin-right: 22px;

            font-size: 32px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(232, 46, 35, 1);
            line-height: 160px;
            text-align: center;
        }
    }
}

.title_xzv {
    padding-left: 24px;
    .title__main {
        font-size: 40px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(3, 3, 3, 1);
        line-height: 56px;
    }
    .title__subhead {
        padding-top: 8px;
        width: 352px;
        height: 34px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        //color: rgba(94, 94, 103, 1);
        color:#8D8E9A;
        line-height: 34px;
    }
}
.dialog{
    z-index:1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position:absolute;
    .header{
        position: absolute;
        top:10%;
        width: 100%;
        height: 90%;
        background: #FFFFFF;
        border-radius: 16px 16px 0px 0px;
        .title{
            text-align:center;
            height: 112px;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #18181A;
            line-height: 112px;
            border-bottom: 1px solid rgba(1, 53, 127, 0.1);
            text{
                float:right;
                margin-right:24px;
                color: rgba(24, 24, 26, 0.4);
            }
        }
        .img{
          margin-top:40px;
            .xf__img{
              width: 96px;
              height: 96px;
              border-radius:48px;
              margin-left:24px;
              float:left;
            }
          .xf__name{
            float:left;
            margin-left:20px;
            .nickname{
              margin-top:8px;
              height: 44px;
              font-size: 32px;
              font-family: PingFangSC-Semibold, PingFang SC;
              font-weight: 600;
              color: #18181A;
              line-height: 44px;
              display:block;
            }
            .time{
              margin-top:8px;
              height: 34px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #8D8E9A;
              line-height: 34px;
              display:block;
            }
          }
        }
      .desc{
        clear:both;
        padding-top:64px;
        height: 34px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #5E5E67;
        line-height: 24px;
        margin-left:24px;
      }
      .list{
        margin:24px;
        .package-view{
          position:relative;
          height: 136px;
          background: #fff;
          border-radius: 16px;
          border: 2px solid #C4C4CD;
          margin-bottom:20px;
          .card_name{
            height: 136px;
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #18181A;
            line-height: 136px;
            float:left;
            margin-left:40px;
            text{
              margin-left:10px;
              height: 40px;
              font-size: 28px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: rgba(3, 3, 3, 0.3);
              line-height: 40px;
            }
          }
          .card_price{
            float:right;
            height: 136px;
            font-size: 30px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #D62419;
            line-height: 136px;
            margin-right:40px;
            text{
              font-size:48px;
            }
          }
          .card-recommend{
            position:absolute;
            right:0;
            top:0;
            width: 72px;
            height: 40px;
            background: linear-gradient(135deg, #F23E3E 0%, #E7217F 100%);
            border-radius: 0px 16px 0px 16px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 40px;
            text-align:center;
          }
        }
        .package-view.active{
          border: 2px solid #D2A474;
          background: #FFF4E7;
          .card_name{
            color:#52310F;
          }
          .card_price{
            color:#52310F;
          }
        }
      }
      .xf-submit{
        margin:106px 24px 150px;
        height: 96px;
        background: #D62419;
        border-radius: 56px;
        font-size: 36px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 96px;
        text-align:center;
      }
    }
}

/* 热门直播 */
.hot-alive {
    margin-bottom:62px;
    padding-top:24px;
    .scroll-yuyue-alive {
        display: flex;

        .yuyue-alive {
            position: relative;
            flex: 0 0 192px;
            margin-left: 16px;
            width: 320px;
            height: 452px;
            background: #FFFFFF;
            border-radius: 0px 0px 8px 8px;

            .img-box {
                width: 320px;
                height: 240px;
                border-radius: 8px 8px 0px 0px;
                overflow: hidden;
                position: relative;

                .taro-img,
                img {
                    border-radius: 8px;
                    overflow: hidden;
                }
                .img-status{
                    position: absolute;
                    display: block;
                    //top: 16px;
                    //left:16px;
                    top:0;
                    right:0;
                    //width: 64px;
                    //padding:0 10px;
                    padding-left:10px;
                    padding-right:10px;
                    height: 32px;
                    //box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 6px;
                    background: #FF9821;
                    font-size: 20px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 32px;
                    text-align:center;
                }
                .img-state-red{
                    background: #FF3C30;
                    .icon-playing{
                        width: 24px;
                        height: 24px;
                        vertical-align: -4px;
                    }
                }
                .img-state-blue{
                    background:#0E8BFF;
                }
            }

            .img-box__img {
                width: 100%;
                height: 100%;
            }

            .img-box__ft {
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                border-radius: 8px;
                color: #ffffff;
                font-size: $__font-size-smallest;

                .alive-num {
                    margin-left: 20px;
                }
            }

            .icon-paly-2 {
                margin-left: 16px;
                margin-right: 10px;
            }

            .free-course__title {
                margin: 14px 20px 12px;
                font-size: 30px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #1B1C35;
                line-height: 34px;
            }

            .open-time {
                margin-left: 20px;
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #5E5E67;
                line-height: 34px;
            }

            .unyuyue-button {
                position: absolute;
                bottom: 30px;
                left: 20px;
                text-align: center;
                width: 144px;
                height: 48px;
                background: #D62419;
                border-radius: 30px;
                line-height: 48px;
                font-size: 26px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #FFFFFF;
            }

            .yuyue-button {
                position: absolute;
                bottom: 30px;
                left: 20px;
                text-align: center;
                width: 144px;
                height: 48px;
                background: rgba(214, 36, 25, 0.1);
                border-radius: 30px;
                font-size: 26px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(24, 24, 26, 0.5);
                line-height: 48px;
            }
        }
    }
}
.guilei{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px;
    background: none;
    margin-top:22px;
    margin-bottom:60px;
    img{width:100%}
}
.bd__height {
    position: relative;
    height:196px;
    .media__vip{
        padding:0;
        position: absolute;
        bottom:0;
        width:100%;
        .label--freeIcon {
            float:right;
            padding: 4px 0;
            font-size: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(82, 49, 15, 1);
            width:122px;
            height:30px;
            img{
                width:100%;
            }
        }
        .icon-see-list {
            margin-bottom: 5px;
            float: left;
            .media__img {
                width: 22px;
                height: 20px;
                margin-right: 6px;

                img {
                    width: 100%;
                }
            }
            text {
                margin-left: 6px;
                font-size: 22px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                line-height: 32px;
                color: #8D8E9A;
            }
        }
        .media__ft {
            float: right;
        }
    }
}

// 专家连线
.expert {
    margin-top:22px;
    .tt-cell-box {
        .tt-cell__img {
            border-radius: 16px 16px 0 0;
            height: 330px;
        }
        .tt-cell__info {
            height: 126px;
            font-size: 26px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(24, 24, 26, 1);
            line-height: 36px;
            padding-left: 20px;
            padding-top: 14px;
            background-color: #fff;
        }
    }
}

/* 线下学院 */
.media-offline {
    .hdBanner {
        position: relative;
        .applyList {
            position: absolute;
            left: 20px;
            bottom: 24px;
            display: flex;
            align-items: center;
        }
        .headList {
            display: flex;
            margin-right: 34px;
            > div {
                &:nth-child(1) {
                    z-index: 3;
                }
                &:nth-child(2) {
                    z-index: 2;
                }
                &:nth-child(3) {
                    z-index: 1;
                }
            }
            .headImg {
                width: 24px;
                height: 48px;
                position: relative;
                overflow: unset;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }
    .media__price {
        font-size: $__font-size-medium;
        color: $__color-primary;
        font-weight: bold;
        font-family: PingFangSC-Semibold, PingFang SC;
        line-height: 54px;
    }
    .media__ft {
        // margin-bottom: 20px;
    }
    .media__num {
        font-size: $__font-size-extra-small;
        color: $__color-text-secondary;
    }
}

.yuyue-opacity {
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    .yuyue-warn {
        position: absolute;
        top: 50%;
        margin-top: -144px;
        left: 50%;
        margin-left: -228px;
        background: #fff;
        width: 456px;
        height: 288px;
        text-align: center;

        .img {
            margin-top: 48px;
            width: 64px;
            height: 64px;
        }

        .text--black {
            height: 50px;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(22, 20, 19, 1);
            line-height: 50px;
            text-align: center;
            padding: 0 0 12px;
        }

        .onebyone {
            color: rgba(24, 24, 26, 0.7);
            margin: 0 auto;
            font-size: 26px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
        }
    }
}

.yuyue-opacity1 {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;

    .yuyue-warn1 {
        font-size:0;
        position: absolute;
        top: 50%;
        margin-top: -360px;
        left: 50%;
        margin-left: -320px;
        background: #fff;
        width: 640px;
        height: 720px;
        text-align: center;
        border-radius: 16px;
        .img {
            margin-top: 48px;
            width: 64px;
            height: 64px;
        }

        .text--black {
            height: 50px;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(22, 20, 19, 1);
            line-height: 50px;
            text-align: center;
            padding: 0 0 12px;
        }

        .onebyone {
            color: rgba(24, 24, 26, 0.7);
            margin: 0 36px;
            font-size: 30px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
        }
        .care{
            font-size: 26px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #5E5E67;
        }
        .ercode{
            .gzh-img{
                margin-top:50px;
                width:288px;
                height:288px;
            }
        }
    }
    .close-img{
        position:absolute;
        top: 50%;
        margin-top: 440px;
        left:50%;
        margin-left:-34px;
        img{
            width:68px;
            height:68px;
        }
    }
}

.pupopBack {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.pupop-box {
    z-index:777;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pupop {
    position: absolute;
    // top: 50%;
    //left: 50%;
    bottom: 0;
    //transform: translate(-50%, 0);
    width: 100%;
    // height: 840px;
    background: rgba(255, 255, 255, 1);
    border-radius: 32px 32px 0 0;
    padding: 80px 120px 0 120px;
    box-sizing: border-box;
    .closeIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 88px;
        height: 88px;
    }
    .pupop_title {
        position: relative;
        .title_icon1 {
            position: absolute;
            width: 80px;
            height: 80px;
            top: -40px;
            left: 0;
        }
        .title_icon2 {
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: 0px;
            right: 20px;
        }
    }
    .title_text {
        font-size: 36px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(27, 28, 53, 1);
        line-height: 50px;
        text-align: center;
    }
    .form {
        margin-top: 50px;
        .formItem {
            width: 500px;
            height: 80px;
            background: rgba(255, 255, 255, 1);
            border-radius: 8px;
            border: 2px solid rgba(196, 196, 205, 1);
            margin-bottom: 24px;
            &:nth-last-of-type(1) {
                margin-bottom: 0;
            }
            .input-box {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 28px;
                input {
                    font-size: 30px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #1b1c35;
                    height: 100%;
                }
            }
        }
    }
    .unique {
        width: 400px;
        height: 96px;
        margin-top: 52px;
        background: rgba(214, 36, 25, 1);
        border-radius: 48px;

        font-size: 32px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 44px;
    }
    .close-button{
        height: 96px;
        margin-top: 34px;
        text-align:center;
        border-radius: 1.024rem;
        font-size: 30px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #8D8E9A;;
        line-height: 96px;
    }
}

.getPrize {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index:10000;
    .content {
        margin: 120px 0 45px;
        padding-top: 47px;
        border-radius: 16px;
        padding-bottom: 50px;
        text-align:center;
        .prize {
            padding:0 65px;
            .taro-img {
                width: auto;
                height: auto;
            }
        }
    }
    .close-img{
        position:absolute;
        top: 50%;
        margin-top: 200px;
        left:50%;
        margin-left:-34px;
        .taro-img{
            width:68px;
            height:68px;
        }
    }
}

.boxEnter{
    position:fixed;
    bottom:220px;
    right:4px;
    width:128px;
    height:128px;
    .boxIcon{
        width:100%;
    }
}


