.videoVipBuy-success {
    text-align: center;
    padding-top: 134px;
    .img {
        width: 180px;
        height: 180px;
    }
    .text--black {
        height: 50px;
        font-size: 36px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(22, 20, 19, 1);
        line-height: 50px;
        text-align: center;
        padding: 60px 0;
    }
    .btn--black {
        width: 360px;
        height: 80px;
        margin: 0 auto;
    }
}
