@import "../../styles/var.scss";

.goddessSuccess{
    background: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    .content{
        position:absolute;
        width: 660px;
        height: 760px;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        background: #FFFFFF;
        border-radius: 32px;
        text-align:center;
        font-family: Alibaba PuHuiTi;
        font-weight: 400;
        color: #1B1817;
        .title{
            margin-top:62px;
            margin-bottom:16px;
            height: 49px;
            line-height:49px;
            font-size: 48px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #18181A;
        }
        .ercode{
            margin:52px auto 0;
            .img{
                width:248px;
                height:auto;
            }
        }
        .subTitle{
            margin-top:16px;
            line-height:44px;
            font-size: 26px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #18181A;
            margin:0 52px;
            text{
                font-weight: 800;
            }
        }
        .desc{
            height: 30px;
            line-height:30px;
            font-size: 30px;
        }
        .redirect-alive{
            margin:52px auto 0;
            width: 400px;
            height: 88px;
            background: #D62419;
            border-radius: 48px;
            font-size: 30px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 88px;
        }
    }
}

