@import "../../styles/var.scss";

.StoredCardDetail {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
  background: #f0f1f4;

  .card-item {
    margin: 24px;
    display: block;
    border-radius: 16px;
    & + card-item {
      margin-top: 0;
    }
  }
  .card-title {
    font-size: $__font-size-medium;
    color: $__color-text-primary;
  }
  .card-time {
    font-size: $__font-size-extra-small;
    color: $__color-text-secondary;
    line-height: 1.6;
  }
  .card-num {
    font-size: $__font-size-extra-large;
    font-weight: bold;
    color: $__color-text-primary;
  }
}
