@import "../../styles/var.scss";
/* 名家学堂 */
.New_year_festival_sipervisor{
  background: rgba(0,0,151);
  .New_year_festival__top{
    line-height:0.85;
    .top__background{
      width:100%;
      height:auto;
    }
  }
}
