@import "../../styles/var.scss";

.videoVipBuy {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  .sixPrivilege {
    border-radius: 16px;
    .buySubmit-list{
      width:100%;
       .img{
         width:100%;
         height:auto;
       }
    }
  }
  .buySubmit-phone {
    padding-top:47px;
    border-radius:16px;
    .text{
      margin-left:5px;
      font-size: 48px;
      line-height: 45px;
      font-family: Alibaba PuHuiTi;
      font-weight: bold;
      color: #1B1817;
      text-align:center;
      display:block;
      margin-bottom:60px;
    }
    .ll-cell:before{
      border:none;
    }
    .content__bd{
      margin:10px 80px;
      border: 2px solid #f0f0f0;
      border-radius:10px;
      height:44px;
      .ll-input{
        padding-left:20px;
        float:left;
        width:300px;
      }
      .very-code{
        height:88px;
        float:right;
        line-height:88px;
        text-align:center;
        font-size:24px;
        color: #D62419;
      }
    }
    .free_card{
      margin:80px;
      height: 88px;
      background: #D62419;
      line-height:88px;
      border-radius: 44px;
      text-align:center;
      font-size: 36px;
      font-family: Alibaba PuHuiTi;
      font-weight: bold;
      color: #FFFFFF;
    }
  }
  /* 底部栏 */
  .bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 112px;
    .btn{
      border-radius:0;
    }
  }
  .bottom__bd {
    height: 100%;
    padding: 0;
  }
  .bottom__btn {
    height: 112px;
    line-height: 112px;
    padding: 0 50px;
    box-sizing: border-box;
    background: $__color-primary;
    color: #ffffff;
    white-space: nowrap;
    font-size: $__font-size-medium;
    font-weight: 600;
  }
  .price {
    padding-left: 30px;
    font-size: 48px;
    color: $__color-primary;
    font-weight: 600;
    .small {
      font-size: $__font-size-base-bigger;
    }
  }

  .ll-input {
    font-size: $__font-size-base-bigger;
    color: $__color-text-primary;
  }
}



@keyframes autoImg {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
